@import './fonts.scss';
@import './nullstyle.scss';

:root {
	--white: #fff;
	--yellow: #FFEDCD;
	--light-green: #E2F0DF;
	--light-grey: #C2CCCA;
	--grey: #C4C4C4;
	--dark-green: #70908B;
	--main-text: #195557;
	--black: #000;
	--background-form: #EAEEEF;

}

@mixin button {
	max-width: 328px;
	width: 100%;
	height: 69px;
	border-radius: 40px;
	background-color: var(--dark-green);
	color: var(--white);
	cursor: pointer;
	box-shadow: -8px -8px 20px #fff, 4px 4px 20px #c2ccca;
	position: relative;
	overflow: hidden;
	transition: all .3s ease;
}

@mixin phone {
	font-family: sans-serif;
	font-size: 22px;
	font-weight: 500;
}


.container {
	max-width: 1772px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	position: absolute;
	width: 100%;
	padding-top: 35px;
	z-index: 1;

	&__wrap {
		display: flex;
		align-items: center;
	}

	&__burger-lines {
		background-image: url(/images/burger.svg);
		width: 25px;
		height: 14px;
	}

	&__burger-lines {
		display: none;
	}

	&__burger-menu {
		display: none;
	}

	&__navigation {
		margin-left: auto;
		margin-right: 132px;
	}

	&__item {
		position: relative;
		cursor: pointer;
	}

	&__item:first-child::before {
		content: '';
		position: absolute;
		top: 15%;
		left: -20%;
		background-image: url(/images/triangle_right.svg);
		width: 10px;
		height: 10px;
		transition: all .3s ease;

	}

	&__item:first-child:hover::before {
		transform: rotate(90deg);
	}

	&__item:first-child:hover &__link {
		border-bottom: 1px solid var(--main-text);
	}

	&__item:first-child:hover &__sublist {
		visibility: visible;
	}

	&__link,
	&__subitem {
		color: var(--main-text);
	}

	&__submenu-wrap {
		padding-top: 10px;
		position: absolute;
		transform: translate(-17px, 7px);
	}

	&__sublist {
		padding: 19px 48px 21px 24px;
		background-color: var(--white);
		border-radius: 8px;
		box-shadow: 4px 4px 20px 0 var(--light-grey);
		visibility: hidden;
	}

	&__subitem:not(:last-child) {
		margin-bottom: 19px;
	}

	&__s-link:hover {
		border-bottom: 1px solid var(--main-text);
	}

	&__phone {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__phone-logo {
		width: 69px;
		height: 69px;
		border-radius: 50%;
		background: linear-gradient(90deg, rgba(176, 211, 206, 1) 0%, rgba(255, 237, 206, 1) 100%);
		box-shadow: -8px -8px 20px #FFFFFF, 4px 4px 20px #C2CCCA;
		margin-right: 20px;
		position: relative;
		cursor: pointer;
	}

	&__phone-logo::before {
		content: '';
		display: block;
		background-image: url(/images/phone.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 32px;
		height: 32px;
		top: 50%;
		margin: 0 auto;
	}

	&__phone-link {
		@include phone();
		position: relative;
		color: var(--main-text);
		// padding-left: 69px;
		margin-right: 80px;
	}

	&__cart {
		background-image: url(/images/basket.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 36px;
		height: 33px;
		cursor: pointer;
	}

}

.overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 4;
	display: none;
}

.burger {	
	max-width: 301px;
	width: 100%;
	background-color: var(--white);
	border-radius: 0 20px 20px 0;
	padding: 17px 67px 43px 26px;
	position: absolute;
	top: 10%;
	left: 0;
	z-index: 10;

&__wrap {
	display: flex;
	margin-bottom: 56px;
}

&__cross {
	background-image: url(/images/x.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	margin-right: 87px;
}

&__logo {
	background-image: url(/images/Logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 56px;
	height: 26px;
}

&__navigation {
	margin-bottom: 161px;
}

&__item {
	margin-bottom: 20px;
}

&__link {
	text-transform: uppercase;
	color: var(--main-text);
	font-size: 18px;
}

&__phone-link {
	font-family: sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: var(--main-text);
}
}

.info {
	background-image: url(/images/Subtract.jpg);
	width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 100%;
	padding: 290px 0 390px;
	position: relative;


	&::before {
		content: '';
		background-image: url(/images/Ellipse_header_1.svg);
		max-width: 524px;
		width: 100%;
		height: 524px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
	}

	&::after {
		content: '';
		background-image: url(/images/Ellipse_header_2.svg);
		max-width: 791px;
		width: 100%;
		height: 1500px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 20%;
		right: 0;
	}

	&__wrap {
		text-align: center;
	}

	&__title {
		margin: 0 auto 19px;
	}

	&__subtitle {
		font-size: 50px;
		font-weight: 400;
		text-transform: uppercase;
		color: var(--dark-green);
		margin-bottom: 18px;
	}

	&__content {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: var(--dark-green);
		margin-bottom: 34px;
	}

	&__buying {
		@include button();


	}

	&__buying::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 335px;
		height: 75px;
		background: linear-gradient(90deg, rgba(176, 211, 206, 1) 0%, rgba(255, 237, 206, 1) 100%);
		transform: translateX(-100%);
		transition: all .3s ease;
	}

	&__buying:hover {
		color: var(--main-text);

	}

	&__buying:hover::before {
		transform: translateX(0);

	}

	&__buying span {
		z-index: 3;
		position: relative;
		font-family: 'Raleway', sans-serif;
	}
}

.about {
	position: relative;

	&::before {
		content: '';
		background-image: url(/images/hedgehog_left.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 20vw;
		height: 412px;
		position: absolute;
		top: -50%;
	}

	&::after {
		content: '';
		background-image: url(/images/hedgehog_right.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: right;
		width: 20vw;
		height: 346px;
		position: absolute;
		top: -35%;
		right: 0;
	}

	&__list {
		display: flex;
		justify-content: center;
		position: relative;
		top: -240px;
	}

	&__item {
		max-width: 191px;
		width: 100%;
		text-align: center;
		position: relative;
	}

	&__item:nth-child(2) {
		top: -30px;
	}

	&__item:not(:last-child) {
		margin-right: 155px;
	}

	&__picture {
		max-width: 152px;
		width: 100%;
		height: 152px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 30px;
		box-shadow: -8px -8px 20px #FFFFFF, 4px 4px 20px #C2CCCA;

		&_yellow {
			background-color: var(--yellow);
		}

		&_light-green {
			background-color: var(--light-green);
		}

		&_dark-green {
			background-color: var(--dark-green);
		}
	}

	&__title {
		font-size: 16px;
		text-transform: uppercase;
		color: var(--main-text);
		margin-bottom: 8px;
	}

	&__content {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		text-align: center;
		color: var(--main-text);
	}

}

.slider {
	max-width: 1297px;
	width: 100%;
	margin: 0 auto 84px;
	position: relative;

	&__outer-wrap {
		max-width: 1184px;
		width: 100%;
		padding-top: 20px;
	}

	.swiper-slide {
		height: auto;
	}

	&__slide {
		max-width: 570px;
		width: 100%;
		height: 100%;
		border-radius: 25px;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		padding: 54px 0 58px 59px;
		margin: 0 auto;

		&::after {
			content: ' -50 %';
			font-family: sans-serif;
			font-size: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 68px;
			height: 36px;
			position: absolute;
			top: -4%;
			left: 10%;
			background-color: var(--dark-green);
			color: var(--white);

		}

		&_yellow::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: var(--yellow);
			border-radius: 20px;
			clip-path: polygon(100% 0, 100% 80%, 85% 100%, 0 100%, 0 0);
		}

		&_light-green::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: var(--light-green);
			border-radius: 20px;
			clip-path: polygon(100% 0, 100% 80%, 85% 100%, 0 100%, 0 0);
		}
	}

	&__slide-wrap {
		display: flex;
	}

	&__info {
		max-width: 182px;
		width: 100%;
	}

	&__name {
		font-size: 40px;
		color: var(--main-text);
		margin-bottom: 17px;
	}

	&__description {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: var(--black);
		margin-bottom: 7px;
	}

	&__old-price {
		font-size: 20px;
		color: var(--light-grey);
		text-decoration: line-through;
	}

	&__current-price {
		font-size: 40px;
		color: var(--main-text);
	}

	&__photo-wrap {
		// max-width: 363px;
		// width: 100%;
		// height: 263px;
		align-self: flex-end;
	}

	&__photo {
		width: 100%;
	}

	&__tooltip-icon {
		position: absolute;
		top: 5%;
		right: 5%;
	}

	&__tooltip-block {
		position: absolute;
		top: 17%;
		right: 3%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 220px;
		width: 100%;
		height: 88px;
		background-color: var(--main-text);
		z-index: 5;
		visibility: hidden;
	}

	&__tooltip-block::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-left: 14.5px solid transparent;
		border-right: 14.5px solid transparent;
		border-bottom: 9px solid var(--main-text);
		transform: translate(79px, -48px);
		// top: 0;
		// left: 50%;
	}

	&__tooltip-text,
	&__tooltip-likes {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: var(--white);
		text-transform: lowercase;
		position: relative;
	}

	&__tooltip-text {
		margin-right: 55px;
		padding-left: 26px;
	}

	&__tooltip-text::before {
		content: '';
		background-image: url(/images/solid.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 26px;
		height: 26px;
		position: absolute;
		top: -23%;
		left: -6%;
	}

	&__tooltip-likes::before {
		content: '';
		background-image: url(/images/like.svg);
		background-repeat: no-repeat;
		background-size: contain;
		width: 22px;
		height: 22px;
		position: absolute;
		top: -17%;
		left: -96%;
	}

	&__tooltip:hover &__tooltip-block {
		visibility: visible;
	}

	&__add {
		width: 40px;
		height: 40px;
		background-image: url(/images/plus.svg);
		position: absolute;
		bottom: 2%;
		right: 2%;
		cursor: pointer;
	}

	&__button-prev::after {
		content: '';
		background-image: url(/images/arrow_left.svg);
		width: 24px;
		height: 24px;
	}

	&__button-next::after {
		content: '';
		background-image: url(/images/arrow_right.svg);
		width: 24px;
		height: 24px;
	}
}

.apply {
	margin-bottom: 95px;

	&__form {
		max-width: 1197px;
		width: 100%;
		// height: 484px;
		background-color: var(--background-form);
		margin: 0 auto 95px;
		border-radius: 30px;
		position: relative;

	}

	&__form-wrap {
		padding: 39px 50px 79px;
	}

	&__title {
		font-size: 45px;
		color: var(--main-text);
		text-align: center;
		margin-bottom: 30px;
	}

	&__radio {
		display: flex;
		margin-bottom: 43px;
	}

	&__target {
		display: flex;
		margin-right: 77px;
	}


	&__target-input,
	&__number-input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	&__target-input+label {
		user-select: none;
		// max-width: 199px;
		// width: 100%;
		width: fit-content;
		height: 49px;
		border: 2px solid var(--dark-green);
		border-radius: 30px;
		color: var(--dark-green);
		background-color: var(--white);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px 22px;
		cursor: pointer;
	}

	&__target-wrap:not(:last-child) {
		margin-right: 14px;
	}

	&__target-input:checked+label {
		background-color: var(--dark-green);
		color: var(--white);
	}

	&__number {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 14px 53px;
	}

	&__number-input+label {
		color: var(--dark-green);
		position: relative;
		padding-left: 21px;
		cursor: pointer;
	}

	&__number-input+label::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 14px;
		height: 14px;
		border: 1px solid var(--dark-green);
		background-color: var(--white);
		border-radius: 50%;
	}

	&__number-input:checked+label::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(/images/radio_checked.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 14px;
		height: 14px;
	}

	&__personal-data {
		display: grid;
		grid-template-areas:
			"name phone email"
			"comment comment comment";
		gap: 20px;

	}

	&__input-name {
		grid-area: name;
	}

	&__input-tel {
		grid-area: phone;
	}

	&__input-email {
		grid-area: email;
	}

	&__input-text {
		grid-area: comment;
	}

	&__personal-input {
		border-radius: 8px;
		padding: 23px 27px;
		cursor: pointer;
	}

	&__personal-input:not(:last-child) {
		max-width: 352px;
		width: 100%;
		height: 62px;
	}

	&__personal-input:last-child {
		max-width: 1096px;
		width: 100%;
		height: 108px;
	}

	&__personal-input::placeholder {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: var(--main-text);
	}

	&__buying {
		@include button();
		position: absolute;
		bottom: -7%;
		left: 37%;
	}

	&__buying::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 335px;
		height: 75px;
		background: linear-gradient(90deg, rgba(176, 211, 206, 1) 0%, rgba(255, 237, 206, 1) 100%);
		transform: translateX(-100%);
		transition: all .3s ease;
	}

	&__buying:hover {
		color: var(--main-text);

	}

	&__buying:hover::before {
		transform: translateX(0);

	}

	&__buying span {
		z-index: 3;
		position: relative;
		font-family: 'Raleway', sans-serif;
	}

	&__sale {
		text-align: center;
	}

	&__rests {
		font-size: 24px;
		color: var(--main-text);
		position: relative;
		width: fit-content;
		margin: 0 auto 25px;
		padding-left: 50px;
	}

	&__rests a {
		font-size: 24px;
		color: var(--main-text);
		text-decoration: underline;
	}

	&__rests::before {
		content: '';
		background-image: url(/images/footer_hedgehog.svg);
		background-size: cover;

		width: 41px;
		height: 41px;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	}

	&__sale-period {
		max-width: 191px;
		width: 100%;
		margin: 0 auto;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: var(--main-text);
	}

}

.footer {
	background-color: var(--dark-green);
	padding-top: 49px;

	&__wrap {
		display: flex;
		align-items: center;
		margin-bottom: 24px;
	}


	&__navigation {
		color: var(--white);
		margin-right: 99px;
		margin-left: auto;
	}

	&__links {
		display: flex;
		margin-right: 71px;
	}

	&__link {
		width: 40px;
		height: 40px;
	}

	&__icon {
		width: 100%;
		height: 100%;
	}

	&__icon:not(:last-child) {
		margin-right: 13px;
	}

	&__phone {
		@include phone();
		color: var(--white);
	}

	&__rights {
		font-family: 'Raleway', sans-serif;
		font-size: 9px;
		font-weight: 400;
		color: var(--white);
		padding-bottom: 30px;
	}
}

.navigation {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		text-transform: uppercase;
	}

	&__item:not(:last-child) {
		margin-right: 89px;
	}

	&__link {
		font-size: 16px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.active {
	display: block;
}
@media (max-width: 1440px) {

	.header {
		&__phone-link {
			display: none;
		}

		&__phone-logo {
			width: 50px;
			height: 50px;
		}

		&__phone-logo::before {
			width: 25px;
			height: 25px;
		}
	}

	.about {
		&__picture {
			max-width: 120px;
			height: 120px;
		}

		&__item:not(:last-child) {
			margin-right: 50px;
		}

	}
}

@media (max-width: 1280px) {
	.info {
		padding: 190px 0 390px;

		&__title {
			max-width: 350px;
		}

		&__subtitle {
			font-size: 30px;
		}
	}

	.about {
		&::before {
			display: none;
		}
	}

	.footer {
		&__list {
			display: block;

		}
	}
}


@media (max-width: 991px) {
	.header {
		padding-top: 20px;

		&__wrap {
			justify-content: center;
		}

		&__navigation {
			display: none;
		}

		&__burger-lines {
			display: block;
		}

		&__logo {
			margin-right: 35px;
			margin-left: auto;
		}
	}

	.info {
		&::before {
			display: none;
		}
	}


	.slider {
		margin-bottom: 54px;

		&__slide {
			max-width: 350px;
			padding: 44px 0 30px 29px;

			&::after {
				width: 48px;
				height: 21px;
				font-size: 12px;
				top: -2%;
			}
		}

		&__name {
			font-size: 30px;
		}

		&__description {
			font-size: 11px;
			width: 114px;
		}

		&__photo {
			width: 120%;
		}

		&__tooltip-icon {
			display: none;
		}

		&__tooltip-text,
		&__tooltip-likes {
			color: var(--main-text);
			font-size: 10px;
		}

		&__tooltip-text {
			padding-left: 12px;
			margin-right: 27px;
		}

		&__tooltip-text::before {
			background-image: url(/images/syringe_dark.svg);
			width: 12px;
			height: 12px;
			top: 0;
		}

		&__tooltip-likes::before {
			background-image: url(/images/heart_dark.svg);
			width: 10px;
			height: 10px;
			top: 0;
			left: -65%;
		}

		&__tooltip-block {
			visibility: visible;
			max-width: none;
			height: auto;
			background-color: transparent;
			justify-content: flex-end;
			top: 5%;
			right: 5%;

			&::before {
				display: none;
			}
		}

		&__add {
			right: -7%;
		}

		&__button-prev,
		&__button-next {
			display: none;
		}
	}

	.about {

		&::after {
			width: 66vw;
		}

		&__list {
			display: grid;
			grid-template-areas:
				'item1 .'
				'item2 item3';
			row-gap: 35px;
			top: -175px;
		}

		&__item-1 {
			grid-area: item1;
		}

		&__item-2 {
			grid-area: item2;
		}

		&__item-3 {
			grid-area: item3;
		}

		&__item:nth-child(2) {
			top: 0;
		}
	}

	.apply {

		&__form-wrap {
			padding: 39px 50px 25px;
		}

		&__form {
			border-radius: 0;
		}

		&__title {
			font-size: 24px;
			text-align: start;
		}

		&__radio {
			display: block;
		}

		&__target {
			display: block;
			margin-right: 0;
			margin-bottom: 30px;
		}

		&__target-wrap {
			margin-bottom: 16px;
		}

		&__number {
			display: block;
		}

		&__number-wrap {
			margin-bottom: 14px;
		}

		&__personal-data {
			display: block;
		}

		&__personal-input:not(:last-child) {
			max-width: 100%;
		}

		&__personal-input:last-child {
			height: auto;
		}

		&__personal-input {
			margin-bottom: 10px;
		}

		&__buying {
			position: relative;
			margin: 0 auto;
			margin-bottom: 39px;
		}
	}

	.footer {
		&__wrap {
			display: block;
			position: relative;
		}

		&__logo-img {
			margin-bottom: 62px;
		}

		&__item {
			margin-bottom: 30px;
		}

		&__links {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
		}

		&__link {
			margin-bottom: 12px;
		}

		&__rights {
			font-size: 11px;
		}
	}
}

@media (max-width: 320px) {
	.header {
		&__logo-img {
			width: 56px;
			height: 26px;
		}

		&__phone-logo {
			width: 35px;
			height: 35px;

			&::before {
				width: 13px;
				height: 11px;
			}
		}
	}

	.info {

		&::after {
			top: 50%;
		}

		&__wrap {
			text-align: start;
		}

		&__title {
			max-width: 202px;
			margin: 0 0 12px;

		}

		&__subtitle {
			font-size: 24px;
		}

		&__content {
			font-size: 12px;
		}
	}

	.about {

		&::after {
			top: -28%;
			width: 90vw;
		}

		&__item {
			max-width: 110px;
		}

		&__picture {
			max-width: 92px;
			height: 92px;
		}

		&__content {
			font-size: 10px;
			text-align: start;
		}

		&__svg {
			width: 43px;
			height: 43px;
		}
	}

	.slider {

		&__slide {
			max-width: 243px;
		}

		&__photo {
			width: 150%;
		}
	}

	.apply {

		&__buying {
			max-width: 280px;
			left: 3%;
		}

		&__sale {
			margin: 0;
			padding-left: 21px;
			max-width: 236px;
			text-align: start;
		}

		&__rests {
			padding-left: 0;

			&::before {
				top: -60%;
			}
		}

		&__sale-period {
			margin: 0;
		}

	}
}